# arma-specific
*.pbo
*.bin
!*
$PREFIX$

# executables
*.com
*.exe
*.dll

# archives
*.zip
*.rar
*.7z
*.jar

# os-specific
*~
._*
.DS_Store*
.Trash*
*.lnk
ehthumbs.db
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# junk
*.log
